.heading1 {
  color: green;
}
.heading2 {
  color: purple;
}
.box1 {
  width: 300px;
  height: 300px;
  border: solid;
  background-color: yellow;
}
.box2 {
  width: 300px;
  height: 300px;
  border: dotted;
  background-color: lightgreen;
}
